lib/*
bin/*

#cmake tool vscode extension
**/build/*

#cmake
*.a
*.txt
*.tcl
*.cmake
Makefile
!CMakeLists.txt
**/CMakeFiles/*
Testing/*

#graphs
*.dot

#images
*.png

#temp
*.tmp
*.csv

!.gitkeep
!.vscode/*